.wrapper {
  height: 60px;
  width: 100%;
  position: relative;
  background-color: #3F5765;
}
.wrapper-inner {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  background-color: red;
}
.menu {
  position: absolute;
  right: 20px;
  top: 0;
}
.menu ul {
  list-style: none;
}
.menu li {
  display: inline-block;
}
.menu a {
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 60px;
  color: #fff;
}
.menu a:hover {
  color: #BDD4DE;
}