body, ul {
  margin: 0;
}
body {
  font: 1em Ubuntu, sans-serif;
  background-color: #eee;
}

.main {
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
}

.simple-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #fff;
  border: none;
  margin: 0 5px;
  border: 1px solid rgba(189, 212, 222, .5);
  border-radius: 20px;
  box-shadow: 0 3px 3px rgba(43, 58, 66, .1);
  transition: all .1s ease-out;
}
.simple-button:hover {
  box-shadow: 0 3px 6px rgba(43, 58, 66, .2);
  cursor: pointer;
}
.simple-button:active {
  border: 1px solid #FF530D;
}
.simple-button:focus {
  outline: 0;
}